<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
<header>
    <h1>Adopt a New Pet!</h1>
</header>
<main>
    <section>
        <h2>Available Pets</h2>
        <div id="availablePetsContainer">
            <!-- Available pets for adoption will be dynamically added here -->
        </div>
    </section>
    <section>
        <h2>Owned Pets</h2>
        <div id="petsContainer">
            <!-- Owned pets will be dynamically added here -->
        </div>
    </section>
</main>
<script src="/pets.js"></script>
<script src="/adoption.js"></script>




</body>
</html>
