<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard & Pet Care</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
  <h1>Welcome to Your Virtual Pet Dashboard & Pet Care!</h1>
</header>
<main>
  <section>
    <h2>Your Pets</h2>
    <div id="petsContainer">
      <!-- Virtual pets will be dynamically added here -->
    </div>
    <button id="adoptButton">Adopt More Pets</button>
  </section>

  <h2>Pet Status</h2>

  <div id="status-bars">
    <div class="status-bar-outer">
      <span>Overall Status: </span>
      <div id="statusBar" class="status-bar-inner"></div>
    </div>
  </div>


  <div id="pet-status"></div>

  <div id="actions">
    <button id="feed">Feed</button>
    <button id="play">Play</button>
    <button id="groom">Groom</button>
  </div>
</main>
<script src="/pets.js"></script>
<script src="/interaction.js"></script>
<script src="/health.js"></script>
<script>
  document.getElementById('adoptButton').addEventListener('click', function() {
    window.location.href = '/adoption';
  });

</script>
</body>
</html>
