<!DOCTYPE html>
<html>
<head>
    <title>Pet Interaction</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Pet Care </h1>
</header>

<h2>Your Pet</h2>
<div id="petData" data-pet-id="1234"></div>

<div id="petsContainer">
    <div class="status-bar-outer">
        <div id="healthBar" class="status-bar-inner">Health</div>
    </div>
    <div class="status-bar-outer">
        <div id="hungerBar" class="status-bar-inner">Hunger</div>
    </div>
    <div class="status-bar-outer">
        <div id="happinessBar" class="status-bar-inner">Happiness</div>
    </div>

    <div id="pet-status"></div>

    <div id="actions">
        <button id="feed">Feed</button>
        <button id="play">Play</button>
        <button id="groom">Groom</button>
    </div>
</div>

<script src="/pets.js"></script>
<script src="/dashboard.js"></script>
<script src="/interaction.js"></script>
</body>
</html>
