<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Pet Adoption - Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
    <h1 class="emoji">PetConnect</h1>

    <style>
        .emoji::before {
            content: "\1F431";  /* Unicode for cat face */
        }

        .emoji::after {
            content: "\1F436";  /* Unicode for dog face */
        }
    </style>
</header>
<main>
    <section>
        <h2>Login</h2>
        <form id="loginForm">
            <label for="loginUsernameInput">Username:</label>
            <input type="text" id="loginUsernameInput" name="username" required>

            <label for="loginPasswordInput">Password:</label>
            <input type="password" id="loginPasswordInput" name="password" required>

            <button type="submit">Login</button>
        </form>
    </section>
</main>
<script src="/register.js"></script>

</body>
</html>
